node_modules/*
.next/*
package-lock.json
.firebase/
out/
tsconfig.tsbuildinfo
.env.local
.vercel
.env*.local
ring.zip
typescript_files_20250107_231151.txt
app/api/firebase/test/route.ts.md
docs/FIRESTORE.txt
docs/NEXT15_UPGRADE_REFERENCE.md
docs/REACT19.txt
docs/prompts/update-code-per-next15-ref.md
scripts/add-mock-entities.js
scripts/gather-logic.js
scripts/list-files.sh
scripts/svc.json
scripts/prompts/next15.json
tsconfig.tsbuildinfo
