NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_auth_domain
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YCZKPV315E
NEXT_PUBLIC_API_URL=https://myringproject.url # set your public API URL here

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="" # Use `npx auth` to create one. Read more: https://cli.authjs.dev

AUTH_FIREBASE_PROJECT_ID=your_firebase_project_id
AUTH_FIREBASE_CLIENT_EMAIL=your_firebase_client_email
AUTH_FIREBASE_PRIVATE_KEY="your_firebase_private_key"
FIREBASE_PRIVATE_KEY_ID=your_firebase_private_key_id
FIREBASE_CLIENT_ID="your_firebase_client_id" 
FIREBASE_FIRESTORE_DEBUG=true

AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_auth_google_secret

APPLE_ID="APPLE_ID"
APPLE_SECRET="APPLE_SECRET"

BLOB_READ_WRITE_TOKEN=vercel_blob_rw_token_goes_here

POLYGON_RPC_URL=https://polygon-rpc.com